$base-color: rgba(1,77,144,1);
$button-default-arrow-glyph-color: rgba(255,255,255,1);
$button-default-body-outline-color-focus: rgba(0,0,0,1);
$button-grid-cell-font-weight: 600;
$button-grid-cell-font-weight-disabled: 600;
$button-grid-cell-font-weight-focus: 600;
$button-grid-cell-font-weight-focus-over: 600;
$button-grid-cell-font-weight-focus-pressed: 600;
$button-grid-cell-font-weight-over: 600;
$button-grid-cell-font-weight-pressed: 600;
$button-large-font-weight: 400;
$button-large-font-weight-disabled: 400;
$button-large-font-weight-focus: 400;
$button-large-font-weight-focus-over: 400;
$button-large-font-weight-focus-pressed: 400;
$button-large-font-weight-over: 400;
$button-large-font-weight-pressed: 400;
$button-medium-font-weight: 400;
$button-medium-font-weight-disabled: 400;
$button-medium-font-weight-focus: 400;
$button-medium-font-weight-focus-over: 400;
$button-medium-font-weight-focus-pressed: 400;
$button-medium-font-weight-over: 400;
$button-medium-font-weight-pressed: 400;
$button-small-font-weight: 600;
$button-small-font-weight-disabled: 600;
$button-small-font-weight-focus: 600;
$button-small-font-weight-focus-over: 600;
$button-small-font-weight-focus-pressed: 600;
$button-small-font-weight-over: 600;
$button-small-font-weight-pressed: 600;
$panel-body-border-color: rgba(0,0,0,1);
$panel-body-color: rgba(0,0,0,1);
$font-size: 13px;
$panel-body-font-size: $font-size+1;
$panel-body-font-weight: 400;
$panel-header-color: rgba(255,255,255,1);
$panel-header-font-weight: 400;
$menu-item-font-weight: 400;
$form-error-msg-font-weight: 400;
$form-field-font-weight: 400;
$form-label-font-color: rgba(38,38,38,1);
$form-label-font-weight: 400;
$form-toolbar-error-msg-font-weight: 400;
$form-toolbar-field-font-weight: 400;
$form-toolbar-label-font-weight: bold;
$grid-cell-field-font-weight: 400;
$grid-empty-font-weight: 400;
$grid-row-cell-font-weight: 400;
$tree-glyph-color: rgba(34,34,34,1);
$form-clear-trigger-glyph-color: rgba(100,100,100,1);
$form-search-trigger-glyph-color: rgba(100,100,100,1);
$form-text-field-font-weight: 400;
$form-toolbar-text-field-font-weight: 400;
$form-toolbar-trigger-glyph-color: rgba(100,100,100,1);
$form-trigger-glyph-color: rgba(100,100,100,1);
$grid-cell-text-field-font-weight: 400;